.navbar{
  margin: 100px 0 0 0;
  width: 100%;
  height: 50px;
  color: var(--primary);
  position: relative;
}

.navbarActive{
  position: absolute;
  width: 100%;
  z-index: 999;
  display: flex;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid var(--text);
  box-shadow: 4px 0px 1px 0px var(--text);
  cursor: pointer;
  height: 50px;
}

.container{
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}

.navbarContent{
  display: flex;
  justify-content: space-between;
}

.linkTitle{
  font-weight: 500;
  font-size: 1.3rem;
}

.linkTitleInactive{
  font-weight: 500;
  font-size: 1rem;
  color: var(--textDark);
  text-decoration: none;
  height: 30px;
  align-content: center;
}

.linkTitleInactive:hover{
  color: var(--primary);
}

.iconButton {
  cursor: pointer;
  display: block;
  text-align: right;
  border: none;
  background: none;
}

.menuIcon span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--primary);
  transition: transform .3s ease;
}

.menuIcon span:nth-child(1),
.menuIcon span:nth-child(2){
  margin-bottom: 5px;
}

.open span:nth-child(1) {
  transform: rotate(45deg) translate(6.5px, 4px);
}

.open span:nth-child(2) {
  opacity: 0;

}

.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5.5px, -3.5px);
}

.dropdown{
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  background-color: white;
  transition: .5s ease-in-out all;
  border-bottom: 1px solid var(--text);
}

.dropdownContainer{
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dropdownVisible{
  bottom: -30px;
}

@media screen and (max-width: 1366px){
  .container,
  .dropdownContainer{
    margin: 0 3%;
  }
}