* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #02b0d6;
  --primary-light: #4acdf0;
  --primary-dark: #0092b5;
  --secondary: #09b78b;
  --secondary-light: #45d3ad;
  --secondary-dark: #07956d;
  --text: #cccccc;
  --text-light: #e6e6e6;
  --text-dark: #999999;
  --back: #FFF
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
