*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #02B0D6;
  --primary-light: #4ACDF0;
  --primary-dark: #0092B5;
  --secondary: #09B78B;
  --secondary-light: #45D3AD;
  --secondary-dark: #07956D;
  --text: #CCCCCC;
  --text-light: #E6E6E6;
  --text-dark: #999999;
  --error: #F41717;
  --error-light: #F85C5C;
  --error-dark: #C00E0E;
}


