.button {
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: white;
  padding: 19px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}

.error{
  border: 1px solid var(--error);
  background-color: var(--error);
}
 
  .hidden {
    display: none;
  }
  
  .p10 {
    padding: 20px;
  }

  .p5 {
    padding: 7.5px;
  }

  .buttonModal {
    position: fixed;
    padding: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 17.5%;
    left: 10.1%;
    right: auto;
    bottom: auto;
    z-index: 999;
  }
  
  .button:hover {
    transition: 0.3s all ease;
    background-color: transparent;
    color: var(--secondary);
  }
  
  .error:hover{
    background-color: transparent;
    color: var(--error);
  }
  
  @media screen and (max-width: 480px) {
    .p10 {
      /* padding: 9px; */
      font-size: 0.9rem;
    }
    
    .buttonModal {
      top: 96.5%;
      left: 50%;
    }
  }
  