.empresaDropdown,
.empresaDropdownVisible {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--text-dark);
}

.empresaDropdownVisible {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.empresa {
  margin: 10px 0;
  border: 1px solid var(--text);
  border-radius: 5px;
  box-sizing: border-box; /* Inclui padding e borda nas dimensões do elemento */
  overflow: hidden; /* Garante que o conteúdo não transborde */
}

.title2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.form {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textField {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 10px;
}

.label {
  font-weight: 600;
  font-size: 1rem;
}

.inputContainer {
  display: flex;
  gap: 10px;
}

.input {
  width: 300px;
  padding: 9px;
  border: 1px solid var(--text);
  border-radius: 5px;
  outline: none;
}

.empresaDropdown:hover button > .menuIcon span,
.empresaDropdownVisible:hover button > .menuIcon span {
  background-color: var(--secondary);
}

.empresaGroup {
  display: flex;
  gap: 15px;
}

.iconButton {
  cursor: pointer;
  display: block;
  text-align: right;
  border: none;
  background: none;
}

.menuIcon span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--text);
  transition: transform 0.3s ease;
}

.menuIcon span:nth-child(1),
.menuIcon span:nth-child(2) {
  margin-bottom: 5px;
}

.open span:nth-child(1) {
  transform: rotate(45deg) translate(6.5px, 4px);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5.5px, -3.5px);
}

.icon {
  font-size: 1.8rem;
}

.empresaContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.empresaContainerVisible {
  display: flex;
}

.empresaCabecalho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.tituloProcuradores {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/*Table*/
.tableContainer {
  width: 100%;
  margin: 20px auto;
  overflow-x: auto;
}

.tableContainer2 {
  width: 90%;
  margin: 0 auto;
}

.table {
  width: 90%;
  margin: 0 auto;
  border: 1px solid var(--text);
  border-radius: 5px;
  border-spacing: 0;
}

.table thead th {
  font-size: 1rem;
  border-bottom: 1px solid var(--text);
  border-right: 1px solid var(--text);
  font-weight: 600;
  padding: 10px;
}

.table thead th:last-child {
  border-right: none;
}
/*Fim da Table*/

@media screen and (max-width: 480px) {
  .inputContainer {
    flex-direction: column;
  }
  .empresaGroup {
    font-size: 0.9rem;
    display: flex;
    gap: 5px;
  }

  .empresaGroup span b {
    display: block;
  }

  .textField {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}