.slick-arrow.slick-next {
  width: 20px; /* Ajuste conforme necessário */
  height: 20px; /* Ajuste conforme necessário */
  position: absolute;
}

.slick-arrow.slick-next::before {
  /* content: url("../../../../../public/chevron-up.png") !important;
  font-size: 20px; */
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../public/chevronRight.png");
  background-size: contain; /* ou cover dependendo de como você quer que a imagem seja redimensionada */
  background-repeat: no-repeat;
  background-position: center;
}

.slick-arrow.slick-prev {
  width: 20px; /* Ajuste conforme necessário */
  height: 20px; /* Ajuste conforme necessário */
  position: absolute;
}

.slick-arrow.slick-prev::before {
  /* content: url("../../../../../public/chevronLeft.png") !important; */
  /* font-size: 20px; */
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../public/chevronLeft.png");
  background-size: contain; /* ou cover dependendo de como você quer que a imagem seja redimensionada */
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilo dos dots */
.slick-dots {
  list-style: none;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

/* Estilo dos itens da lista (li) */
.slick-dots li {
  display: inline-block;
  margin: -45px 5px; /* Espaçamento entre os dots */
}

.slick-dots li button {
  /* font-size: 0px;  Tamanho da fonte do ponto 
  color: #ff0000;  Cor do ponto  */
}

.slick-dots li button::before {
  content: "•"; /* Inserir um ponto como conteúdo */
  /* content: url("../../../../../public/chevron-up.png"); */
  font-size: 15px; /* Tamanho do ponto */
  color: var(--text-dark); /* Cor do ponto */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots .slick-active button::before {
  color: var(--primary) !important;
}
